### String Datatype in Python 
  - str represents string datatype 
  - A string is a sequence of characters enclosed within single quotes or double quotes.

In [4]:
name="Prithwiraj"
print(type(name))

<class 'str'>

- By using single quotes('') or double quotes("") we cannot represent multiline string literals.

In [ ]:
department ="Computer 
    Science"
print(department)

SyntaxError: unterminated string literal (detected at line 1) (1300938912.py, line 1)

- For this requirement we should go for triple quotes(''') or triple double quotes(""")

In [4]:
deparment= """Computer 
Science"""
print(deparment)

university='''SKB
University'''
print(university)

Computer
Science
SKB
University

In [3]:
print('Computer\n'
'Science\n'
'SKB \n'
'University')

Computer
Science
SKB
University

### Slicing of Strings
- Slice means a piece.
- [] operator is called sliece operator, which can be used to retrive parts of string.
- In python strings follows 0(zero) based index.
- The index can be either positive(+) or negative(-).
- positive(+) index means forward(→) direction from left to right.
- Negative(-) means backward(←) direction from right to left.

---

  **s = "COMPUTER"** <br>
  |          |    *output*                |
  |----------|----------------------------|
  | s        | "COMPUTER"                 |
  | s[1]     | "O"                        |
  | s[-7]    | "O"                        |
  | s[2:5]   | "MPU"                      |
  | s[2:100] | "MPUTER"                   |
  | s[:]     | "COMPUTER"                 |
  | s[100]   | '< error >'                |
  | s[0:-1]  | "COMPUTE"                  |
  | s*3      | "COMPUTERCOMPUTERCOMPUTER" |
  | s[0:6:2] | "CMU"                      |
  
  -s[begin:end:step]

In [7]:
s="COMPUTER"
print(s)

COMPUTER

In [9]:
print(s[1])

O

In [11]:
print(s[-7])

O

In [12]:
print(s[2:5])

MPU

In [13]:
print(s[2:100])

MPUTER

In [14]:
print(s[:])

COMPUTER

In [15]:
print(s[100])

IndexError: string index out of range

In [16]:
print(s[0:-1])

COMPUTE

In [17]:
print(s*3)

COMPUTERCOMPUTERCOMPUTER

In [ ]:
# s[begin:end:step]
s[0:6:2]

'CMU'

---

### Typecasting in Python

- We can convert one type value to another type.This convertion is called Typecasting or Type Coersion

- The following are various inbulit functions for type casting. 1. int() 2. float() 3. complex() 4. bool() 5. str()

#### 1. int() :-
 - we can use this function to convert values from other types to int.

|             | *output*        |
|-------------|-----------------|
|int(123.456) | 123             |
|int(10+20j)  | '< typeError >' |
|int(True)    | 1               |
|int(False)   | 0               |
|int("10")    | 10              |
|int("11.5")  | '< valueError >'|
|int("0b1111")| '< valueError >'|
|int(0b1111)  | 15              |
|int("ten")   | '< valueError >'|

In [74]:
print(int(123.456))

123

In [76]:
print(int(10+20j))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [ ]:
print(int(True))

1

In [ ]:
print(int(False))

0

In [ ]:
print(int("10"))

10

In [ ]:
print(int("11.50"))

ValueError: invalid literal for int() with base 10: '11.50'

In [ ]:
print(int("0b111"))

ValueError: invalid literal for int() with base 10: '0b111'

In [ ]:
print(int(0b1111))

15

In [ ]:
print(int("ten"))

ValueError: invalid literal for int() with base 10: 'ten'





**_Note:_** <br>
    1. we can convert from any type to int except complex type.<br>
    2. if we want to convert str type to int type, compulsory str should contain only integral value and should be specified in base-10

---

#### 2. float() :-

- we can use float() function to convert other type values to float type.

|               | *output*        |
|---------------|-----------------|
|float(10)      | 10.0            |
|float(10+20j)  | '< typeError >' |
|float(True)    | 1.0             |
|float(False)   | 0.0             |
|float("10")    | 10.0            |
|float("10.5")  | 10.5            |
|float("ten")   | '< valueError >'|
|float("0b1111")| '< valueError >'|
|float(0b1111)  | 15.0            |

In [ ]:
print(float(10))

10.0

In [ ]:
print(float(10+20j))

TypeError: float() argument must be a string or a real number, not 'complex'

In [ ]:
print(float(True))

1.0

In [ ]:
print(float(False))

0.0

In [ ]:
print(float("10"))

10.0

In [ ]:
print(float(10.5))

10.5

In [ ]:
print(float("ten"))

ValueError: could not convert string to float: 'ten'

In [ ]:
print(float("0b111"))

ValueError: could not convert string to float: '0b111'

In [ ]:
print(float(0b111))

7.0

**_Note:_**
1. we can convert any type value to float type except complex type.
 2. whenever we are trying to convert str type to float type compulsory str should be either integral or floating point literal and should be specified only base 10.

---

#### 3. complex() :-
- we can use complex() function to convert other type values to complex type.

  - form 1 : complex(x) ---> x+0j form 
  - form 2 : complex(x,y) ---> x+yj


**Form 1:** complex(x) we can use this function to convert x into complex number with real part and imaginary part 0.

|                | *output*       |
|----------------|----------------|
|complex(10)     |(10+0j)         |
|complex(10.5)   |(10.5+0j)       |
|complex(True)   |(1+0j)          |
|complex(False)  |(0j)            |
|complex("10")   |(10+0j)         |
|complex("10.5") |(10.5+0j)       |
|complex("ten")  |'< valueError >'|
|complex("0b111")|'< valueError >'|
|complex(0b111)  |(7+0j)          |

In [ ]:
print(complex(10))

(10+0j)

In [ ]:
print(complex(10.5))

(10.5+0j)

In [ ]:
print(complex(True))

(1+0j)

In [ ]:
print(complex(False))

0j

In [ ]:
print(complex('10'))

(10+0j)

In [ ]:
print(complex(10.5))

(10.5+0j)

In [ ]:
print(complex("ten"))

ValueError: complex() arg is a malformed string

In [ ]:
print(complex("0b111"))

ValueError: complex() arg is a malformed string

In [ ]:
print(complex(0b111))

(7+0j)

**Form 2:** complex(x,y) we can use this method to convert x and y into complex number such that x will be real part and y will be imaginary part.

|                      | *output*       |
|----------------------|----------------|
|complex(10,20)        |(10+20j)        |
|complex(True,False)   |(1+0j)          |
|complex(10, 20.5)     |(10+20.5j)      |
|complex("10", "12")   |'< typeError >' |

In [ ]:
print(complex(10,20))

(10+20j)

In [ ]:
print(complex(True, False))

(1+0j)

In [ ]:
print(complex(10, 20.5))

(10+20.5j)

In [ ]:
print(complex("10", "12"))
#complex() can't take second argumet if first is a string

TypeError: complex() can't take second arg if first is a string

**_Note:_** <br>
complex() can't take second argumet if first is a string

---

#### 4. bool() :-

  to convert other types to bool type.

|            |                   | *output* |
|------------|-------------------|----------|
| for int    | bool(0)           | False    |
|            | bool(1)           | True     |
|            | bool(10)          | True     |
|            | bool(-11)         | True     |
| for float  | bool(0.0)         | False    |
|            | bool(0.00000001)  | True     |
|            | bool(0.1)         | True     |
|            | bool(0.123)       | True     |
| for complex| bool(10+20j)      | True     |
|            | bool(10-20j)      | True     |
|            | bool(0+1.5j)      | True     |
|            | bool(0+0j)        | False    |
| for str    | bool("True")      | True     |
|            | bool("false")     | True     |
|            | bool("Prithwiraj")| True     |
|            | bool(" ")         | True     |
|            | bool("")          | False    |

In [ ]:
print(bool(0))

False

In [ ]:
print(bool(1))

True

In [ ]:
print(bool(19))

True

In [ ]:
print(bool(-11))

True

In [ ]:
print(bool(0.0))

False

In [ ]:
print(bool(0.000001))

True

In [ ]:
print(bool(0.123))

True

In [ ]:
print(bool(0.1))

True

In [ ]:
print(bool(10+20j))

True

In [ ]:
print(bool(10-29j))

True

In [ ]:
print(bool(0+1.5j))

True

In [ ]:
print(bool(0+0j))
# if both real and imaginary parts are zero. i.e. (0+0j) then the result is False otherwise the result is True.

False

In [ ]:
print(bool("true"))

True

In [ ]:
print(bool("false"))

True

In [ ]:
print(bool("prithwiraj"))

True

In [ ]:
print(bool(" "))

True

In [ ]:
print(bool(""))

False

---

#### 5. str() :-
- we can use this method to convert any other types values to str type.

In [ ]:
print(str(10))

10

In [ ]:
print(str(10.5))

10.5

In [ ]:
print(str(11+25j))

(11+25j)

In [ ]:
print(str(True))

True