In [2]:
x=10;
y=10;
print(id(x))
print(id(y))

140705319580744
140705319580744

- in python we can say that x and y are referance type variable.
- and value 10 is a type of object.

In [3]:
x=10;
print(id(x))
x=20
print(id(x))

140705319580744
140705319581064

**mutable = changable** <br>
**immutable = not changable**

In [ ]:
x=10
y=10
x is y

True

- x is y 
- check x and y are pointing the same addresses value or not.

In [6]:
x=257
y=257
print(id(x))
print(id(y))

2173402486576
2173402487440

in shell programming only (0-256)

- Floating values doesn't reusable in case of python

In [7]:
x=25.3
y=25.3
print(id(x))
print(id(y))

2173391610384
2173398973904

- Complex value doesn't reusable in case of python.

In [9]:
x=10+20j
y=10+20j
print(id(x))
print(id(y))
x is y

2173402488912
2173402488752

False

In [12]:
x=True
y=True
z=True
print(id(x))
print(id(y))
print(id(z))
x is y is z

140705318050728
140705318050728
140705318050728

True

In [13]:
x="roy"
y="roy"
print(id(x))
print(id(y))

2173402643312
2173402643312

---

### Byte Data Type:

It represent a group of byte number just like a array.

- Byte data type is immutable

In [20]:
x=[1,2,3,4,5,6,7,]
b= bytes(x)
print(b)
print(type(b))
for i in b:
  print(b[i-1])
print(b[-1])

b'\x01\x02\x03\x04\x05\x06\x07'
<class 'bytes'>
1
2
3
4
5
6
7
7

In [21]:
x=b"hello"
print(type(x))

<class 'bytes'>

---

### Bytearray

- Bytearray is mutable

In [23]:
x=[1,2,3,4,5,6,7,]
b= bytearray(x)
type(b)
b[0]=5
print(b)

bytearray(b'\x05\x02\x03\x04\x05\x06\x07')

---

### List Data Type:

- A list is a collection of heterogeneous elements.
- Elements are placed in ordered.
- List growable in nature.
- Value should be enclosed with third brackets([]).
- Index allows.
- Duplicate allows.
- Slicing possible.
- Mutable in nature.

In [29]:
l=[1,2,4,6,"roy",2,5,]
print(type(l))
print(l)
l.append(10)
print(l)

<class 'list'>
[1, 2, 4, 6, 'roy', 2, 5]
[1, 2, 4, 6, 'roy', 2, 5, 10]

- .append() use for add a value in the end of the exiting list.
- .remove() use for remove value from list. if there multiple value then always remove the first one.

In [30]:
l.remove(2)
print(l)

[1, 4, 6, 'roy', 2, 5, 10]

In [7]:
l=[1,2,4,6,"roy",2,5,]
l.remove()
print(l)

TypeError: list.remove() takes exactly one argument (0 given)

---

### Tuple Data Type:

- It is acjactly like list data type.
- It is immutable(not changable).

In [32]:
t=(10,20,30)
print(type(t))
t[0]=10
print(t)

<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [34]:
t=(10,)
print(type(t))

<class 'tuple'>

In [36]:
x=1,
print(type(x))

<class 'tuple'>

In [39]:
x=1,2,3,
print(type(x))

<class 'tuple'>