### Range Data Type

- Range datatype represent a sequence of numbers.
- Range datatype is immutable. 
- Float vlaues does not range possible.

range(start,end,step)

In [ ]:
x=range(10)
print(x)

range(0, 10)

In [3]:
r=range(1,20,2)
print(r)
print(range(1,20,2))

range(1, 20, 2)
range(1, 20, 2)

In [4]:
for i in range(1,20,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [5]:
l=list(range(1,10))
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

---

### Set Data Types

- Insertion order not preserved
- Duplicate are not allow
- Heterogeneous elements are allow
- Index concept is not applicable
- mutable
- Growable in nature

In [7]:
x={10,20,30}
print(x)
print(type(x))

{10, 20, 30}
<class 'set'>

order not confirmed

In [ ]:
x={10,20,"computerscience"}
# heterogeneous
print(type(x))
print(x)

<class 'set'>
{10, 20, 'computerscience'}

order not confirmed

In [9]:
# growable
x={10,20,"computerscience"}
x.add(40)
print(x)

{40, 10, 20, 'computerscience'}

order not confirmed

In [10]:
x={10,20,"computerscience"}
x.remove(20)
print(x)

{10, 'computerscience'}

order not confirmed

In [11]:
# duplicate not allow
x={10,20,"computerscience"}
x.add(10)
print(x)

{10, 20, 'computerscience'}

order not confirmed

In [13]:
# create empty set
x=set()
print(x)
print(type(x))

set()
<class 'set'>

---

### Frozenset Data Type

It is exactly same as set. except that is immutable.

In [15]:
s={0,1,3,5,6,7,"kiran sir"}
print(type(s))
f=frozenset(s)
print(type(f))
print(f)

<class 'set'>
<class 'frozenset'>
frozenset({0, 1, 'kiran sir', 3, 5, 6, 7})

order not confirmed

In [14]:
# checking immutable
s={0,1,3,5,6,7,"kiran sir"}
f=frozenset(s)
f.add(40)

AttributeError: 'frozenset' object has no attribute 'add'

---

### dict data type

- Duplicate key are not allow but duplicate value are allow.
- Dict data type is mutable.

In [16]:
# dict_name={
#   key_name: "value",
#   key_name2: "value",
# }

In [7]:
d={
  1: "kiran",
  4: "prithwiraj",
  3: "google",
}
print(type(d))
print(d[4])
print(d)

<class 'dict'>
prithwiraj
{1: 'kiran', 4: 'prithwiraj', 3: 'google'}

In [20]:
# duplicate key and value checking
d={
  1: "kiran",
  4: "prithwiraj",
  3: "google",
  3: "Microsoft",
  5: "Goldman Sachs",
  6: "kiran",
}
print(d)

{1: 'kiran', 4: 'prithwiraj', 3: 'Microsoft', 5: 'Goldman Sachs', 6: 'kiran'}

overwrite the value if key was same but same value can use for different keys

In [25]:
d={
  1: "kiran",
  4: "prithwiraj",
  3: "google",
  3: "Microsoft",
  5: "Goldman Sachs",
  6: "kiran",
}
d.popitem()
print(d)

{1: 'kiran', 4: 'prithwiraj', 3: 'Microsoft', 5: 'Goldman Sachs'}

In [26]:
# add item
d[7]="Accenture"
print(d)

{1: 'kiran', 4: 'prithwiraj', 3: 'Microsoft', 5: 'Goldman Sachs', 7: 'Accenture'}

In [27]:
# create empty dict
x={}
print(type(x))

<class 'dict'>

---

### None Data Type

- None Means nothing or no value associated.
- If the value is not available, then to handle such types of cases None introduce.

In [9]:
def x():
  a=10
  print("hello")
print(x())
x()

hello
None
hello

---

escape sequence

\n →  new line <br>
\t → is a horizontal tab <br>
\r → move the cursor to the beginning of the current line <br>
\b → backspace the cursor

In [32]:
x="computer\nscience"
print(x)

computer
science

In [31]:
y="computer\tscience"
print(y)

computer	science

In [30]:
z="computer\rscience"
print(z)

sciencer

In [29]:
w="computer\bscience"
print(w)

computescience

---

## Operator

i) unary (1 operand) <br>
ii) binary (2 operand) <br>
iii) ternary (3 operand) <br>

### Arithmetic Operator

<div>
+   <br>
-  <br>
* <br>
/ <br>
//  <br>
% <br>
**  <br>
</div>

#### / and //

In [34]:
print(5/2)

2.5

In [37]:
print(5.0/2)

2.5

In [38]:
print(5//2)

2

In [35]:
print(10.0//2)

5.0

In [36]:
print(10//2.0)

5.0

In [33]:
print(10.0//2.0)

5.0

- / operator always floating point arithmetic, hence it will always return float value.
- // operator, if arrgument are integer type then result is integer type but float type arguments return result float type.

---

### %

In [39]:
print(3%2)

1

In [40]:
print(11.5%2)

1.5

In [41]:
print(11%2.3)

1.8000000000000007

In [42]:
print(-20%6)

4

In [43]:
print(20%6)

2

In [44]:
print(20%-6)

-4

In [45]:
print(-20%-6)

-2

---

### String concatenation operator

In [46]:
x="Python "+ "Kirandeb"
print(x)

Python Kirandeb

In [49]:
x="computer science" + 602
print(x)

TypeError: can only concatenate str (not "int") to str

In [50]:
x="computer science " + "602"
print(x)

computer science 602

---

### String multiplication operator

In [52]:
print("You can do " *3)

You can do You can do You can do

In [53]:
print("you" * "me")

TypeError: can't multiply sequence by non-int of type 'str'

In [54]:
print(True * "It heppends sometime.")

It heppends sometime.

---

### Relational Operator

(<, >, <=, >=, ==, !=)

In [57]:
print("Kiran">"Computer")

True

In [58]:
print("kiran">"kiran")

False

In [59]:
print("kiran">="kiran")

True

In [60]:
print(10<20<30)

True

In [61]:
print(10>20<30<40)

False

In [62]:
print(10.0 == 10.0)

True

In [63]:
print(10.0==10)

True

In [64]:
print(2==1+1==True+True==2*1==4-2==2**1==5%3==6//3==-6%8)

True