## 1

In [1]:
for row in range(1,6):
  for col in range(1,6):
    print("1",end=" ")
  print()

1 1 1 1 1
1 1 1 1 1
1 1 1 1 1
1 1 1 1 1
1 1 1 1 1

## 2

In [2]:
for row in range(1,6):
  for col in range(1,6):
    print(col,end=" ")
  print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

## 3

In [3]:
for row in range(1,6):
  for col in range(1,row+1):
    print(col,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

## 4

In [4]:
for row in range(1,6):
  for col in range(1,row+1):
    print(row,end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

## 5

In [5]:
for row in range(1,6):
  for col in range(row,0,-1):
    print(col,end=" ")
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

## 6

In [6]:
for row in range(5,0,-1):
  for col in range(1,row+1):
    print(col,end=" ")
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

## 7

In [7]:
for row in range(1,6):
  for col in range(5,row-1,-1):
    print(row,end=" ")
  print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

## 8

In [8]:
for row in range(1,6):
  for col in range(row,6):
    print(col,end=" ")
  print()

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

## 9

In [9]:
a=1
for row in range(1,6):
  for col in range(1,row+1):
    print(a,end=" ")
    a+=1
  print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

## 10

In [10]:
for row in range(5,0,-1):
  for col in range(5,row-1,-1):
    print(col,end=" ")
  print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

## 11

In [11]:
for row in range(5,0,-1):
  for col in range(5,row-1,-1):
    print(row,end=" ")
  print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

## 12

In [12]:
for row in range(1,6):
  for col in range(5,row-1,-1):
    print(col,end=" ")
  print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

## 13

In [13]:
for row in range(5,0,-1):
  for col in range(1,row+1):
    print(row,end=" ")
  print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

## 14

In [14]:
for row in range(5,0,-1):
  for col in range(row,0,-1):
    print(col,end=" ")
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

## 15

In [1]:
a=65
n=5
for row in range(a, a+n):
  for col in range(a, a+n):
    print(chr(col), end=" ")
  print()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

## 16

In [13]:
a=65
n=5
for row in range(a+n-1, a-1, -1):
  for col in range(a, a+n):
    print(chr(row), end=" ")
  print()

E E E E E
D D D D D
C C C C C
B B B B B
A A A A A

## 17

In [14]:
a=65
n=5
for row in range(a, a+n):
  for col in range(a, row+1):
    print(chr(col), end=" ")
  print()

A
A B
A B C
A B C D
A B C D E

## 18

In [15]:
a=65
n=5
for row in range(a, a+n):
  for col in range(a, row+1):
    print(chr(row), end=" ")
  print()

A
B B
C C C
D D D D
E E E E E

## 19

In [18]:
a=65
n=5
for row in range(a, a+n):
  for col in range(a+n-1, row-1, -1):
    print(chr(col), end=" ")
  print()

E D C B A
E D C B
E D C
E D
E

## 20

In [19]:
a=65
n=5
for row in range(a+n-1, a-1, -1):
  for col in range(a, row+1):
    print(chr(row), end=" ")
  print()

E E E E E
D D D D
C C C
B B
A

## 21

In [20]:
a=65
for row in range(1,6):
  for col in range(1, row+1):
    print(chr(a), end=" ")
    a+=1
  print()

A
B C
D E F
G H I J
K L M N O

## 22

In [21]:
for row in range(1,6):
  for col in range(1, row+1):
    print("*", end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

## 23

In [15]:
for row in range(1,6):
  for col in range(5,row-1,-1):
    print("*", end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

## 24

In [16]:
for row in range(1,6):
  for col in range(0,row):
    print(col, end=" ")
  print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

## 25

In [17]:
for row in range(5,0,-1):
  for col in range(0,row):
    print(col, end=" ")
  print()

0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

## 26

In [18]:
for row in range(1,6):
  for col in range(1,row+1):
    print(col%2, end=" ")
  print()

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1

## 27

In [19]:
for row in range(1,6):
  for col in range(1,row+1):
    print(row%2, end=" ")
  print()

1
0 0
1 1 1
0 0 0 0
1 1 1 1 1

## 28

In [20]:
for row in range(1,6):
  for col in range(row,0,-1):
    print(col%2, end=" ")
  print()

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

## 29

In [21]:
for row in range(1,6):
  for col in range(1,row+1):
    if col%2==0:
      print("#", end=" ")
    else:
      print("@", end=" ")
  print()

@
@ #
@ # @
@ # @ #
@ # @ # @

## 30

In [22]:
for row in range(1,6):
  for col in range(1,row+1):
    if row%2==0:
      print("#", end=" ")
    else:
      print("@", end=" ")
  print()

@
# #
@ @ @
# # # #
@ @ @ @ @

## 31

In [23]:
for row in range(1,6):
  for col in range(row,0,-1):
    if col%2==0:
      print("#", end=" ")
    else:
      print("@", end=" ")
  print()

@
# @
@ # @
# @ # @
@ # @ # @

## 32

In [25]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num/2) + 1):
        if num % i == 0:
            return False
    return True
  
  
num = 2
for row in range(1,6):
    for col in range(1,row+1):
        while not is_prime(num):
            num += 1
        print(num, end=" ") 
        num += 1
    print()

2
3 5
7 11 13
17 19 23 29
31 37 41 43 47

## 33

In [31]:
n=70
for row in range(6,0,-1):
  for col in range(0,row):
    print(chr(n),end=" ")
    if col == row-1:
      break
    elif row%2==0:
      n-=1
    elif row%2==1:
      n+=1
  if row%2==1:
    n-=1
  print()

F E D C B A
A B C D E
D C B A
A B C
B A
A

## 34

In [2]:
n=8
for row in range(8,0,-1):
  for col in range(0,row):
    print(n,end=" ")
    if col == row-1:
      break
    elif row%2==0:
      n-=1
    elif row%2==1:
      n+=1
  if row%2==1:
    n-=1
  print()

8 7 6 5 4 3 2 1
1 2 3 4 5 6 7
6 5 4 3 2 1
1 2 3 4 5
4 3 2 1
1 2 3
2 1
1

## 35

In [5]:
for row in range(1,6):
  for col in range(1,row+1):
    print(col,end=" ")
  for col in range(row-1,0,-1):
    print(col,end=" ")
  print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

## 36

In [9]:
for row in range(1,5):
  n=row
  for col in range(1,5):
    print(n,end=" ")
    n+=1
    if n==5:
      n=1
  print()

1 2 3 4
2 3 4 1
3 4 1 2
4 1 2 3

## 37

In [11]:
for row in range(1,6):
  for col in range(2,row+1):
    print(" ",end=" ")
  for col in range(5,row-1,-1):
    print("*",end=" ")
  print()

* * * * *
  * * * *
    * * *
      * *
        *

## 38

In [15]:
for row in range(5,0,-1):
  for col in range(row,5):
    print(" ",end=" ")
  for col in range(1,row+1):
    print(row,end=" ")
  print()

5 5 5 5 5
  4 4 4 4
    3 3 3
      2 2
        1

## 39

In [17]:
for row in range(1,6):
  for col in range(2,row+1):
    print(" ",end=" ")
  for col in range(row,6):
    print(col,end=" ")
  print()

1 2 3 4 5
  2 3 4 5
    3 4 5
      4 5
        5

## 40

In [19]:
for row in range(65,70):
  for col in range(66,row+1):
    print(" ",end=" ")
  for col in range(row,70):
    print(chr(col),end=" ")
  print()

A B C D E
  B C D E
    C D E
      D E
        E